#  Mutable & Immutable
- mutable : LIst, Dictionary, Set
- immutable : String, Tuple, Range

# 홀수만 담기

In [10]:
NUMBER = 50
num_list = []
for i in  range(1, NUMBER+1):
    num_list.append(i)
odd_list = num_list[0::2]
print(odd_list)

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31, 33, 35, 37, 39, 41, 43, 45, 47, 49]

# Dictionary 만들기

In [17]:
class_student = { '임완택' : 27,
                 '김진구' : 28,
                 '김민주' : 26,
                 '김유리' : 28
}

# 반복문으로 네모 출력

In [44]:
n = 5
m = 9

for i in range(m):
    for j in range(n):
         print('*', end="")
    print()
    
# 깔끔한 코드
# n = 5 
# m = 9
# for i in range(m):
#     print('*' * n)

*****
*****
*****
*****
*****
*****
*****
*****
*****

# 조건 표현식

In [45]:
temp = 36.5
result = '입실불가' if temp >= 37.5 else '입실 가능'
print(result)

# 교수님 코드
# print('입실 불가') if temp >= 37.5 else print('입실가능')

입실 가능

# 평균 구하기

In [49]:
scores = [80, 89, 99, 82]
sum = 0
for i in scores:
    sum += i
print(sum/len(scores))

87.5